body {
    background-color: bisque;
    margin:  auto;
    max-width: 800px;
}

h1, h3, header {
    text-align: center;
}

h3 {
    margin: 6px;
}

.divSelect {
    border-radius: 8px;
    border: 1px solid black;
    padding: 2px;
    margin: 3px;
    text-align: center;
}

footer {
    margin: 50px;
}

#selectionArea {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#divSelectGeo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-column: span 3;
}

#divReports {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 2fr;
    grid-column: span 3;
}

#divGeoHeader, #divRepHeader  {
    grid-column: span 2;
    margin: 10px;
}

#divRepType {
    display: grid;
    grid-template-column: 1fr 1fr;
}

#countyList, #zipList { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.areaItem {
    border-radius: 3px;
    border: 1px dotted blue;
    margin: 2px;
    cursor: pointer;
}


#divGenerateReports {
    grid-column: span 3;
    text-align: center;
}

#btnGenerate {
    padding: 5px 10px;
    /* background-color: aqua; */
    border-radius: 5px;
    font-size: 20px;
    color: purple;
}

.selectedList {
    margin: 5px auto;
}

#selectReport {
    max-width: 80%;
}